[submodule "keycloak-initializer"]
	path = keycloak-initializer
	url = https://github.com/specialprivacy/keycloak-initializer.git
[submodule "kong"]
	path = kong
	url = https://github.com/specialprivacy/kong-service.git
[submodule "kong-config"]
	path = kong-config
	url = https://github.com/specialprivacy/kong-configuration-service.git
[submodule "kong-migration"]
	path = kong-migration
	url = https://github.com/specialprivacy/kong-database-migration-service.git
[submodule "welcome-page"]
	path = welcome-page
	url = https://github.com/specialprivacy/demonstrator-welcome-page-frontend.git
[submodule "log-generator"]
	path = log-generator
	url = https://github.com/specialprivacy/demonstrator-log-generator.git
[submodule "personal-data-gateway"]
	path = personal-data-gateway
	url = https://github.com/specialprivacy/personal-data-gateway.git
