[submodule "policy-checking-frontend"]
	path = policy-checking-frontend
	url = git@git.tenforce.com:special/policy-checking-frontend.git

[submodule "overview-ui"]
	path = overview-ui
	url = git@git.tenforce.com:special/overview-ui.git

[submodule "prox-consent"]
	path = prox-consent
	url = git@git.tenforce.com:special/prox-consent.git
