[submodule "consent-management-frontend"]
	path = consent-management-frontend
	url = git@git.tenforce.com:special/consent-management-frontend.git
[submodule "policy-checking-frontend"]
	path = policy-checking-frontend
	url = git@git.tenforce.com:special/policy-checking-frontend.git
[submodule "overview-ui"]
	path = overview-ui
	url = git@git.tenforce.com:arnaud.sjongers/overview-ui.git
[submodule "consent-ui"]
	path = consent-ui
	url = https://git.ai.wu.ac.at/specialprivacy/consent.git
